<div class="sidebar" [class.collapsed]="!isOpen">
  <div class="sidebar-header">
    <h3 *ngIf="isOpen" class="sidebar-title">
      <i class="pi pi-th-large"></i>
      <span>Menu</span>
    </h3>
    <i *ngIf="!isOpen" class="pi pi-th-large sidebar-icon"></i>
  </div>
  
  <div class="sidebar-content">
    <nav class="sidebar-nav">
      <ul class="menu-list">
        <li *ngFor="let item of menuItems" class="menu-item">
          <a 
            [routerLink]="item.routerLink" 
            routerLinkActive="active"
            class="menu-link"
            [class.selected]="selectedMenuItem === item.id"
            [title]="!isOpen ? item.label : ''"
            (click)="onMenuItemSelect(item.id, $event)">
            <i [class]="item.icon" class="menu-icon"></i>
            <span class="menu-text" [class.hidden]="!isOpen">{{ item.label }}</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>