<div class="sidebar" [class.collapsed]="!isOpen">
  <div class="sidebar-header">
    <div *ngIf="isOpen" class="expanded-header">
      <p-button 
        icon="pi pi-bars"
        severity="secondary"
        [text]="true"
        (onClick)="onToggleSidebar()"
        class="sidebar-toggle"
        [title]="'Collapse Menu'"
      ></p-button>
      <h3 class="sidebar-title">
        <i class="pi pi-th-large"></i>
        <span>Menu</span>
      </h3>
    </div>
    <div *ngIf="!isOpen" class="collapsed-header" (click)="onToggleSidebar()" title="Expand Menu">
      <i class="pi pi-bars sidebar-icon"></i>
    </div>
  </div>
  
  <div class="sidebar-content">
    <nav class="sidebar-nav">
      <ul class="menu-list">
        <li *ngFor="let item of menuItems" class="menu-item">
          <a 
            [routerLink]="item.routerLink" 
            routerLinkActive="active"
            class="menu-link"
            [class.selected]="selectedMenuItem === item.id"
            [title]="!isOpen ? item.label : ''"
            (click)="onMenuItemSelect(item.id, $event)">
            <i [class]="item.icon" class="menu-icon"></i>
            <span class="menu-text" [class.hidden]="!isOpen">{{ item.label }}</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>