:host {
  display: block;
  width: 100%;
  height: 100%;
}

.ag-grid-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  ag-grid-angular {
    width: 100%;
    height: 100%;
  }

  ::ng-deep {
    .ag-root {
      font-family: inherit;
      flex: 1;
      width: 100%;
      height: 100%;
    }

    .ag-theme-quartz {
      --ag-grid-size: 8px;
      --ag-list-item-height: 32px;
      width: 100%;
      height: 100%;

      .ag-header-cell-text {
        font-weight: 600;
      }

      .ag-cell {
        display: flex;
        align-items: center;
      }

      .ag-row {
        border-bottom: 1px solid var(--ag-borders-side-color);

        &:hover {
          background-color: rgba(0, 0, 0, 0.02);
        }
      }

      .ag-center-cols-container {
        height: 100%;
      }
    }
  }
}
